<div class="card border-0">
	<div class="card-header">
		<h4 class="feed-title">Tweets</h4>
	</div>
	<div class="card-body">
		<% @tweets.each do |tweet| %>
			<p class="card-text">
			<div class="row mb-4">
				<div class=" col-12 mb-3">
					<article class="d-flex my-2">
						<a class=" px-2 text-center" href="#">
							<img alt=" nigel-farage" class="opinion-img"
								data-src="https://d.newsweek.com/en/full/1563625/nigel-farage.png?w=63&amp;h=63&amp;f=241bf306fe74b397c2ecf4116cc79b62"
								src="https://d.newsweek.com/en/full/1563625/nigel-farage.png?w=63&amp;h=63&amp;f=241bf306fe74b397c2ecf4116cc79b62"
								title="nigel-farage">
						</a>
						<div class="info pl-4 pl-lg-2">
							<%= tweet.tweet %>
							<div class="byline text-muted">
								<%= tweet.created_at %>
							</div>
						</div>
					</article>
				</div>
			</div>
		</p>
		<% end %>
		
	</div>
</div>