<div class="col-9">
  <section class="main-headers">
    <div class="">
    <span>Tweet</span>
    <span>Photo</span>
    <span>Vdeos</span>
  </div>
  </section>
  <section class="feed-setion">
    <%= render 'feed' %>
  </section>
  

  

  <br>

  <%= link_to 'New Tweet', new_tweet_path %>
</div>

<div class="col-3 who-to-follow">
  <%= render 'who_to_follow' %>
</div>