<div class="col-9">
  <section class="main-headers">
    <span class="header">Tweet</span>
    <span class="header">Photo</span>
    <span class="header">Vdeos</span>
  </section>
  <section class="feed-setion">
    <%= render 'feed' %>
  </section>
  

  

  <br>

  <%= link_to 'New Tweet', new_tweet_path %>
</div>

<div class="col-3 who-to-follow">
  <%= render 'who_to_follow' %>
</div>