<div class="col-9">
  <%= render 'shared/main_headers' %>
  <%= render 'tweets/form', tweet: @tweet %>
  <section class="feed-section">
    <%= render 'feed' %>
  </section>
</div>

<div class="col-3 who-to-follow">
  <%= render 'who_to_follow' %>
</div>