<div class="social-profile">
<div class="bio">
	<div class="item-group pic-group">
		<span class="item item-icon"><i class="fas fa-plus"></i></span>
		<img alt="profile-pic" src="https://picsum.photos/id/1/70/70" class="profile-pic img-fluid">
		<span class="item item-icon">
			<i class="fas fa-list"></i>
		</span>
	</div>
	<div class="tag">
		<span class="name">Name</span>
		<p class="handle">@handle</p>
	</div>
</div>	
<div class="statistic">
	<div class="item-group tweets">
		<p class="item">1000</p>
		<p class="item-label">Tweets</p>
	</div>
	<div class="item-group following">
		<p class="item">1000</p>
		<p class="item-label">Following</p>
	</div>
	<div class="item-group followers">
		<p class="item">1000</p>
		<p class="item-label">Followers</p>
	</div>
</div>
<div class="followers">
	<div class="main-headers">
		<h4 class="header">Followed By</h4>
	</div>
	<div class="followed-by">
		<div class="bio">
			<img alt="profile-pic" src="https://picsum.photos/id/1/70/70" class="profile-pic img-fluid">
			<div class="tag">
				<span class="name">Name</span>
				<span class="handle">@handle</span>
			</div>
		</div>
		<span class="icon">
			<i class="fas fa-plus"></i>
		</span>
	</div>
</div>
</div>
