	<div class="profile">
		<div class="basic-details">
			<img alt=" profile-pic" src="https://picsum.photos/id/1/70/70">
			<div class="tag">
				<span class="name"><%= current_user.FullName %></span>
				<p class="handle"><%= "@#{current_user.Username}" %></p>
			</div>
		</div>
		<div class="followings">
			<div class="item-group following">
				<p class="item">1000</p>
				<p class="item-label">Following</p>
			</div>
			<div class="item-group followers">
				<p class="item">1000</p>
				<p class="item-label">Followers</p>
			</div>
		</div>
	</div>

	<%= link_to "Profile", user_path(current_user), class: 'side-nav-item' %>
	<a class="side-nav-item" href="#services">Disciover</a>
	<a class="side-nav-item" href="#clients">Connect</a>
	<a class="side-nav-item" href="#contact">Statistic</a>