<section class="main-headers">
    <h4 class="header">
      <%= link_to 'Tweets', root_path, class: "header" %>
    </h4>
    <h4 class="header">
      <%= link_to 'Photos', root_path, class: "header" %>
    </h4>
    <h4 class="header">
      <%= link_to 'Vdeos', root_path, class: "header" %>
    </h4>
  </section>