body {
  background-color: #f5f6f8 !important;
}

a {
  text-decoration: none !important;
}

.is-link:hover {
  color: #a2a3a5;
}

.side-nav {
  color: #5c7186;
  height: 100vh;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #213246;
  overflow-x: hidden;

  * {
    text-transform: uppercase;
  }

  .profile {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #1a2b3d;

    .basic-details {
      display: flex;
      width: 100%;
      padding: 1.6em 0 1.6em 1em;
    }
  }

  img {
    width: 60px;
    border-radius: 7%;
    margin-right: 0.5em;
  }
}

.name {
  text-transform: uppercase;
}

.side-nav .profile .name {
  color: #66788c;
}

.handle {
  text-transform: none;
}

.followings,
.statistic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.side-nav .followings {
  border-top: 0.21em solid #172830;
}

.item-group {
  border-right: 0.11em solid rgba(0, 0, 0, 0.125);
}

.side-nav .item-group {
  border-right: 0.21em solid #172830;
}

.item,
.item-label {
  margin: 0;
}

.followings .item {
  color: #c2ceda;
  font-weight: bolder;
}

.followings .item-label {
  text-transform: capitalize;
  margin: 0;
}

.item-group:last-child {
  border-right: none;
}

.statistic .item-group {
  flex-grow: 1;
  padding: 1.3em 0;
}

.followings .item-group {
  width: 50%;
  padding: 1.3em 0;
}

.side-nav .side-nav-item-wrapper {
  padding: 0.6em 0.6em 0.6em 1em;
}

.side-nav .side-nav-item {
  font-size: 1.3em;
  text-decoration: none;
  color: #5c7186;
  display: inline-block;
}

.side-nav-item:focus {
  background-color: #54abee;
}

.side-nav .side-nav-item-wrapper:hover {
  color: #fffefc;
  background-color: #54abee;

  a {
    color: inherit;
  }
}

.side-nav-item-wrapper .icon {
  font-size: 1.3em;
  margin-right: 1em;
}

.right-column {
  margin-left: 15.8em;
}

.top-navbar-container {
  background-color: #54abee;
}

.top-navbar .fa,
.top-navbar .fas {
  font-size: 1.4em;
}

.top-navbar .nav-link {
  color: #f5f6f8;

  .icon {
    color: inherit;
  }
}

.top-navbar .navbar-brand:hover,
.top-navbar .nav-item:hover {
  background-color: rgba(205, 224, 236, 0.125);

  .nav-link:hover {
    color: #64a5d6;
  }
}

.card {
  border: none;
  background-color: #fff;
  margin: 2rem auto;
}

.card > .card-header,
.card .form-group > .card-header {
  background-color: #fff;
}

.main-headers {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #a2a3a5;
  font-size: 1.6rem;
  padding: 0.6em;
  text-transform: uppercase;
}

.header {
  margin-right: 1.3em;
  color: #a2a3a5;
}

.feed-section .header,
.header:last-child {
  margin-right: 0;
}

.center-content .header:hover {
  color: #54abee;
}

.who-to-follow {
  background-color: #f5f6f8;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  position: sticky;
  height: 100vh;
  top: 0;
}

.who-to-follow .main-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet-header {
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 1rem;
}

.social-profile .pic-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

article .profile-pic {
  margin-right: 1.2em;
  width: 80px;
  height: 80px;
}

.social-profile .profile-pic {
  border-radius: 50%;
  padding: 0.9em;
}

.who-to-follow .profile-pic,
.followed-by .profile-pic {
  border-radius: 50%;
  margin-right: 0.5em;
}

.who-to-follow .profile-pic {
  width: 80px;
  height: 80px;
}

.followed-by .profile-pic {
  width: 120px;
  height: 120px;
}

.who-to-follow .bio-up-section .profile-pic {
  width: 180px;
  height: 180px;
}

.social-profile .fas {
  color: #b8b9bb;
  padding: 0.5em;
  border: 1px solid;
  border-radius: 50%;
}

.social-profile .handle,
.social-profile .item-label {
  color: #babbbd;
}

.social-profile .handle {
  margin: 0;
}

.social-profile > .bio .tag {
  text-align: center;
}

.followed-by .bio .tag {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .name,
  .name > a {
    color: #132235;
    text-transform: uppercase;
  }
}

// .followed-by .profile-pic {
//   width: 30%;
// }

.social-profile .bio .item-group {
  border: none;
}

.social-profile > .statistic {
  margin-top: 2.2em;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
}

.social-profile .followed-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0;
}

.social-profile .followed-by > .bio {
  display: flex;
  flex-grow: 1;
}
